<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="template.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Amiri:wght@700&family=El+Messiri:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <nav >
        هوا الان چطوره؟؟
    </nav>

    <div id="search">
        <input type="search" placeholder="شهر" >
        <button>اضافه کردن شهر</button>
    </div>

    <div id="weather">
        <img src="matrix.jpg" alt="weathet">
     <div id="city">
        <h4>لاس وگاس</h4>
        <p>29 C</p>
        <p>هوا خوبه</p>
    </div>
    </div>


    
</body>
</html>