body{
    font-family: 'El Messiri', sans-serif;
}

nav{
    height: 100px;
    background-color: rgb(144, 216, 240);
    color: white;
    text-align: center;
    padding-top: 40px;
    font-size: 40px;
    font-weight: 700;
}

#search{
    text-align: center;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    width: 50%;
    margin-left: 25%;
    height: 30px;
}
button{
    background-color: rgb(110, 209, 241);
    color: white;
    border: none;
    margin: 0;
}

#weather{
    display: flex;
    justify-content: center ;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 4fr;
    width: 40%;
    height: 100px;
    text-align: center;
    margin-left: 30%;
    margin-top: 50px;
    column-gap: 0;
    border: 2px solid grey;
}
img{
   margin-left: 8px;
    width: 90%;
    height: 90%;
    border-radius: 50%;
}

h2{
    font-weight: 700;
    font-size: 30px;
    margin-top: 0;
}

p{
    font-size: 13px;
    color: rgb(90, 90, 90);
    margin: 0;
}
#city{
    height: 100%;
}